In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [80]:
data=pd.read_csv("C:/Users/dsnat/Downloads/logs_dataset.csv")

In [81]:
data.shape

(721547, 3)

In [82]:
data.head()

                    @timestamp                   _id  ip_address
0  July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1  July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2  July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3  July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4  July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721547 entries, 0 to 721546
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   @timestamp  721547 non-null  object
 1   _id         721547 non-null  object
 2   ip_address  721547 non-null  object
dtypes: object(3)
memory usage: 16.5+ MB

In [84]:
data.describe()

                          @timestamp     _id ip_address
count                         721547  721547     721547
unique                        706029  712431        386
top     June 11th 2019, 15:23:06.001  #NAME?  10.1.2.63
freq                             928    9115       4372

In [85]:
data.isnull().sum()

@timestamp    0
_id           0
ip_address    0
dtype: int64

In [86]:
data.nunique()

@timestamp    706029
_id           712431
ip_address       386
dtype: int64

In [87]:
data['@timestamp']=data['@timestamp'].str.replace(r'(\d+)(st|nd|rd|th)', r'\1', regex=True)

In [88]:
data['@timestamp']=pd.to_datetime(data['@timestamp'],format='%B %d %Y, %H:%M:%S.%f')

In [89]:
data.head()

           @timestamp                   _id  ip_address
0 2019-07-08 14:43:03  XswJ0msBoTGddM7vxMDB  10.1.1.285
1 2019-07-08 14:43:01  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2 2019-07-08 14:42:59  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3 2019-07-08 14:42:57  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4 2019-07-08 14:42:55  L6QJ0msB7mP0GwVzpZeI   10.1.1.60

In [90]:
data.sort_values(['ip_address','@timestamp'], inplace=True)

In [91]:
data.head()

                @timestamp                   _id ip_address
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1

In [100]:
data['shift_time']=data.groupby(['ip_address'])['@timestamp'].shift(1)

In [101]:
data.head()

,@timestamp,_id,ip_address,shift_time,time_diff,date,weekday,hour,is_weekend
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT,NaN,2019-06-09,6,0,1
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09,82.0,2019-06-09,6,1,1
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39,104.0,2019-06-09,6,3,1
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49,0.0,2019-06-09,6,3,1
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45,28.0,2019-06-09,6,3,1

In [102]:
data['time_diff']=(data['@timestamp']-data['shift_time']).dt.seconds//60

In [103]:
data['date']=data['@timestamp'].dt.date

In [104]:
data['weekday']=data['@timestamp'].dt.weekday

In [105]:
data['hour']=data['@timestamp'].dt.hour

In [106]:
data['is_weekend']=((data['weekday'] == 5)|(data['weekday'] == 6)).astype(int)

In [107]:
data.head()

,@timestamp,_id,ip_address,shift_time,time_diff,date,weekday,hour,is_weekend
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT,NaN,2019-06-09,6,0,1
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09,82.0,2019-06-09,6,1,1
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39,104.0,2019-06-09,6,3,1
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49,0.0,2019-06-09,6,3,1
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45,28.0,2019-06-09,6,3,1

In [108]:
data['hour_bucket']=data['hour']//4

In [109]:
ip_addr ='ip_address'

In [110]:
ip_counts=data.groupby(ip_addr)['@timestamp'].count().reset_index()

In [111]:
ip_counts.head()

   ip_address  @timestamp
0    10.1.1.1        1446
1  10.1.1.100        2860
2  10.1.1.101        1465
3  10.1.1.106        1408
4  10.1.1.109        1459

In [112]:
ip_counts=ip_counts.rename(columns={'@timestamp':'total_count'})

In [113]:
daily_counts=data.groupby([ip_addr,'date'])['@timestamp'].count().reset_index()

In [114]:
daily_counts=daily_counts.rename(columns={'@timestamp':'daily_counts'})

In [115]:
daily_counts_avg=daily_counts.groupby(ip_addr).daily_counts.median().reset_index()

In [116]:
daily_counts_avg.head(5)

   ip_address  daily_counts
0    10.1.1.1          40.0
1  10.1.1.100          78.0
2  10.1.1.101          40.0
3  10.1.1.106          35.5
4  10.1.1.109          42.5

In [117]:
weekend_counts=data.groupby([ip_addr, 'is_weekend'])['@timestamp'].count().reset_index()

In [118]:
weekend_counts

     ip_address  is_weekend  @timestamp
0      10.1.1.1           0         975
1      10.1.1.1           1         471
2    10.1.1.100           0        1960
3    10.1.1.100           1         900
4    10.1.1.101           0        1006
..          ...         ...         ...
767   10.1.2.90           1         871
768   10.1.2.95           0        1973
769   10.1.2.95           1         895
770   10.1.2.99           0         978
771   10.1.2.99           1         445

[772 rows x 3 columns]